@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: 1025px) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    font-family: monospace;

}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg');
    //https://img.freepik.com/free-vector/vector-social-contact-seamless-pattern-white-blue_1284-41919.jpg
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .formWrapper {

        padding: 20px 60px;
        border-radius: 15px;
        background-color: rgba(230, 230, 230, 0.8);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8d;
            font-size: 30px;
            font-weight: bold;
            font-family: monospace;
        }
        
        .title {
            color: #5d5b8d;
            font-size: 16px;
            font-weight: bold;
            font-family: monospace;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            input {
                width: 250px;
                padding: 15px;
                border: none;
                border-radius: 5px;
                outline: none;
                // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }
            button {

                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    background-color: #7b96ec;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        background-color: #3d3b6d;
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                cursor: pointer;
                font-weight: bold;
                font-size: 13px;

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        p {
            color: #7b7876;
            font-size: 14px;
            font-weight: bold;
            margin-top: 10px;
        }
    }

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.shutterstock.com/image-vector/social-media-sketch-vector-seamless-600nw-1660950727.jpg');
    //https://img.freepik.com/free-vector/vector-social-contact-seamless-pattern-white-blue_1284-41919.jpg
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .container {
        background-color: aqua;
        width: 70%;
        height: 75%;
        border-radius: 15px;
        display: flex;
        overflow: hidden;

        @include tablet {
            width: 90%;
        }

        .sidebar {
            flex: 1;
            background-color: #8da4f1;
            overflow: hidden;

            .Navbar {
                display: flex;
                align-items: center;
                background-color: #5d5b8d;
                height: 50px;
                padding: 20px;
                justify-content: space-between;
                color: lightblue;

                .logo {
                    font-size: 20px;
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }
                }
                
                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #7b96ec;
                        color: white;
                        border: none;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            background-color: #3d3b6d;
                        }
                    }
                }

            }
            .search {
                border-bottom: 1px solid #5d5b8d;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        // width: 100%;
                        padding: 10px;
                        border: none;
                        outline: none;
                        color: white;
                        
                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }
            }

            .userChat {

                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;
                font-size: 16px;

                &:hover {
                    background-color: #5d5b8d;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                
                }

                .userChatInfo {
                    span {
                        font-weight: bold;
                        font-size: 18px;
                    }
                    p {
                        font-size: 14px;
                        color: lightgray;

                    }
                }

            }
        }
        .chat {
            flex: 2;

            .chatInfo {
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content:  space-between;
                padding: 20px;
                color: lightgray;

                span {
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            .chatIcons {
                display: flex;
                gap: 10px;
                img {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
            }

            .messages {
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 170px);
                overflow: scroll;
  
                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;
        
                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
        
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    }
                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                    p {
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;
                    }
        
                    img {
                        width: 50%;
                    }
                    }
        
                    &.owner {
                        flex-direction: row-reverse;
        
                    .messageContent {
                        align-items: flex-end;

                        p {
                            background-color: #8da4f1;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                        }
                    }
                    }
                }
        }

            .input {
                height: 40px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            input {
                width: 100%;
                padding: 20px;
                border: none;
                outline: none;
                color: #313141;
                font-size: 18px;

                &::placeholder {
                    color: lightgray;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;

            }

            img {
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            button {
                background-color: #7b96ec;
                color: white;
                border: none;
                padding: 10px 15px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    background-color: #3d3b6d;
                }
            }

        }
    }

}